.jumbotron {
    background-image: url("../img/red-comic-bg.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
}
.navbar {
    background-image: url("../img/red-comic-bg.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
}

body {
    background-color: rgb(33, 33, 33);
}
